@model AzureAppINTEX.Models.Product

@{
    ViewData["Title"] = Model.ProductID == 0 ? "Add Product" : "Edit Product";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="EditProduct" method="post">
    <input type="hidden" asp-for="ProductID" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NumParts"></label>
        <input asp-for="NumParts" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImgLink"></label>
        <input asp-for="ImgLink" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PrimaryColor"></label>
        <input asp-for="PrimaryColor" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SecondaryColor"></label>
        <input asp-for="SecondaryColor" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        @(Model.ProductID == 0 ? "Add" : "Save")
    </button>

</form>

<a asp-action="Products" class="btn btn-secondary">Back to List</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
