@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h1>Privacy Policy for Aurora Bricks</h1>
            <p><strong>Last Updated:</strong> 4/8/2024</p>
            <p>Welcome to the Aurora Bricks website, accessible at www.aurorabricks.com. Aurora Bricks, headquartered in Utah, USA, is dedicated to protecting the privacy and security of our customers' information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website.</p>

            <h2 id="informationCollection">1. Information Collection</h2>
            <p>When you visit Aurora Bricks, we collect various types of personal information to provide and improve our service to you. The following are categories of information we may collect:</p>
            <ul>
                <li>Identity Data: Includes full name, gender, and date of birth.</li>
                <li>Contact Data: Your address, email address, and telephone numbers.</li>
                <li>Transactional Data: Details about orders you have placed and the products you have purchased.</li>
                <li>Technical Data: Includes internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system, and platform.</li>
                <li>Usage Data: Information about how you use our website, products, and services.</li>
                <li>Marketing and Communications Data: Your preferences in receiving marketing from us and your communication preferences.</li>
            </ul>

            <h2 id="useOfData">2. Use of Personal Data</h2>
            <p>Aurora Bricks uses the data we collect for various purposes:</p>
            <ul>
                <li>To provide and maintain our service</li>
                <li>To notify you about changes to our service</li>
                <li>To allow you to participate in interactive features when you choose to do so</li>
                <li>To provide customer care and support</li>
                <li>To provide analysis or valuable information so that we can improve our service</li>
                <li>To monitor the usage of our service</li>
                <li>To detect, prevent, and address technical issues</li>
                <li>To provide you with news, special offers, and general information about other goods, services, and events we offer</li>
            </ul>

            <h2 id="legalBasis">3. Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)</h2>
            <p>If you are from the European Economic Area (EEA), Aurora Bricks legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.</p>
            <p>Aurora Bricks may process your Personal Data because:</p>
            <ul>
                <li>We need to perform a contract with you</li>
                <li>You have given us permission to do so</li>
                <li>The processing is in our legitimate interests and it's not overridden by your rights</li>
                <li>For payment processing purposes</li>
                <li>To comply with the law</li>
            </ul>

            <h2 id="dataProtectionRights">4. Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h2>
            <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. Aurora Bricks aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data. The right includes:</p>
            <ul>
                <li>The right to access, update, or to delete the information we have on you.</li>
                <li>The right of rectification.</li>
                <li>The right to object.</li>
                <li>The right of restriction.</li>
                <li>The right to data portability</li>
                <li>The right to withdraw consent</li>
            </ul>

            <h2 id="dataSecurity">5. Data Security</h2>
            <p>We have implemented appropriate security measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.</p>

            <h2 id="childrensPrivacy">6. Children's Privacy</h2>
            <p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>

            <h2 id="contactUs">7. Contact Us</h2>
            <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at aurorabricks@lego.com.</p>
            <p>Aurora Bricks<br>
            TNRB, Brigham Young University, Provo, UT 84602, USA<br>
            +1 (725) 218 6951<br>
            aurorabricks@lego.com</p>
        </div>

        <div class="col-lg-4">
            <nav class="position-sticky" style="top:20%;">
                <h4>Content Table</h4>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="#informationCollection">1. Information Collection</a></li>
                    <li class="nav-item"><a class="nav-link" href="#useOfData">2. Use of Personal Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="#legalBasis">3. Legal Basis for Processing Personal Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="#dataProtectionRights">4. Your Data Protection Rights</a></li>
                    <li class="nav-item"><a class="nav-link" href="#dataSecurity">5. Data Security</a></li>
                    <li class="nav-item"><a class="nav-link" href="#childrensPrivacy">6. Children's Privacy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contactUs">7. Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
