@{
    ViewData["Title"] = "Aurora Brick's Privacy Policy";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h1> Aurora Brick's Privacy Policy</h1>
            <p><strong>Last Updated:</strong> 4/8/2024</p>
            <p>
                Welcome to the Aurora Bricks website, accessible at www.aurorabricks.com. Aurora Bricks, headquartered in Utah, USA, 
                is dedicated to protecting the privacy and security of our customers' information. This privacy policy will explain how our 
                organization uses the personal data we collect from you when you use our website.
            </p>

            <h2 id="dataCollection">1. What data do we collect?</h2>
            <p>Aurora Bricks collects the following data:</p>
            <ul>
                <li>Identity Data: Includes full name, gender, and date of birth.</li>
                <li>Contact Data: Your address, email address, and telephone numbers.</li>
                <li>Transactional Data: Details about orders you have placed and the products you have purchased.</li>
                <li>Technical Data: Includes internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system, and platform.</li>
                <li>Usage Data: Information about how you use our website, products, and services.</li>
                <li>Marketing and Communications Data: Your preferences in receiving marketing from us and your communication preferences.</li>
            </ul>

            <h2 id="dataCollection">2. How do we collect your data?</h2>
            <p>
                You directly provide Our Company with most of the data we collect. We collect data and process
                data when you:
            </p>
            <ul>
                <li>Register online or place an order for any of our products or services.</li>
                <li>
                    Voluntarily complete a customer survey or provide feedback on any of our message
                    boards or via email.
                </li>
                <li>Use or view our website via your browser’s cookies.</li>
            </ul>

            <h2 id="howWeUseYourData">3. How will we use your data?</h2>
            <p>Our Company collects your data so that we can:</p>
            <ul>
                <li>Process your order, manage your account.</li>
                <li>Notify you about changes to our service</li>
                <li>Allow you to participate in interactive features when you choose to do so</li>
                <li>Provide customer care and support</li>
                <li>Provide analysis or valuable information so that we can improve our service</li>
                <li>Monitor the usage of our service</li>
                <li>Detect, prevent, and address technical issues</li>
                <li>Provide you with news, special offers, and general information about other goods, services, and events we offer</li>
            </ul>
            <p>When Aurora Bricks processes your order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.</p>


            <h2 id="howWeStoreYourData">4. How do we store your data?</h2>
            <p>
                Aurora Bricks securely stores your data in a secure and encrypted Azure database
            </p>
  


            <h2 id="legalBasis">5. Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)</h2>
            <p>If you are from the European Economic Area (EEA), Aurora Bricks legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.</p>
            <p>Aurora Bricks may process your Personal Data because:</p>
            <ul>
                <li>We need to perform a contract with you</li>
                <li>You have given us permission to do so</li>
                <li>The processing is in our legitimate interests and it's not overridden by your rights</li>
                <li>For payment processing purposes</li>
                <li>To comply with the law</li>
            </ul>

            <h2 id="dataProtectionRights">6. Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h2>
            <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. Aurora Bricks aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data. The right includes:</p>
            <ul>
                <li>
                    The right to access - You have the right to request Aurora Bricks for copies of your personal
                    data. We may charge you a small fee for this service.
                </li>
                <li>
                    The right to rectification - You have the right to request that Aurora Bricks correct any
                    information you believe is inaccurate. You also have the right to request Aurora Bricks to
                    complete information you believe is incomplete.
                </li>
                <li>
                    The right to erasure — You have the right to request that Aurora Bricks erase your personal
                    data, under certain conditions.
                </li>
                <li>
                    The right to restrict processing - You have the right to request that Aurora Bricks restrict the
                    processing of your personal data, under certain conditions.
                </li>
                <li>
                    The right to object to processing - You have the right to object to Aurora Bricks’s processing
                    of your personal data, under certain conditions.
                </li>
                <li>
                    The right to data portability - You have the right to request that Aurora Bricks transfer the
                    data that we have collected to another organization, or directly to you, under certain conditions.
                </li>
                <p>
                    If you make a request, we have one month to respond to you. If you would like to exercise any
                    of these rights, please contact us using the information provided below.
                </p>
            </ul>


            <h2 id="childrensPrivacy">7. Children's Privacy</h2>
            <p>
                Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. 
                If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information 
                from our servers.
            </p>

            <h2 id="marketing">8. Marketing</h2>
            <p>
                Aurora Bricks would like to send you information about products and services of ours that we
                think you might like, as well as those of our partner companies.
            </p>
            <p>If you have agreed to receive marketing, you may always opt out at a later date.</p>
            <p>
                You have the right at any time to stop Aurora Bricks from contacting you for marketing purposes
                or giving your data to other members of the Aurora Bricks Group.
            </p>
         

            <h2 id="cookies">9. What are cookies?</h2>
            <p>
                Cookies are text files placed on your computer to collect standard Internet log information and
                visitor behavior information. When you visit our websites, we may collect information from you
                automatically through cookies or similar technology.
            </p>
            <p>For further information, visit <a href="https://www.allaboutcookies.org">allaboutcookies.org</a>.</p>

            <h2 id="howWeUseCookies">10. How do we use cookies?</h2>
            <p>
                Aurora Bricks uses cookies in a range of ways to improve your experience on our website,
                including:
            </p>
            <ul>
                <li>Keeping you signed in</li>
                <li>Understanding how you use our website</li>
            </ul>

            <h2 id="typesOfCookies">11. What types of cookies do we use?</h2>
            <p>There are a number of different types of cookies, however, our website uses:</p>
            <ul>
                <li>
                    Functionality - Aurora Bricks uses these cookies so that we recognize you on our
                    website and remember your previously selected preferences. These could include what
                    language you prefer and location you are in. A mix of first-party and third-party cookies
                    are used.
                </li>
                <li>
                    Advertising - Aurora Bricks uses these cookies to collect information about your visit to
                    our website, the content you viewed, the links you followed and information about your
                    browser, device, and your IP address. Aurora Bricks sometimes shares some limited
                    aspects of this data with third parties for advertising purposes. We may also share online
                    data collected through cookies with our advertising partners. This means that when you
                    visit another website, you may be shown advertising based on your browsing patterns on
                    our website.
                </li>
            </ul>

            <h2 id="manageCookies">12. How to manage cookies</h2>
            <p>
                You can set your browser not to accept cookies, and the above website tells you how to remove
                cookies from your browser. However, in a few cases, some of our website features may not
                function as a result.
            </p>

            <h2 id="otherWebsites">13. Privacy policies of other websites</h2>
            <p>
                The Aurora Bricks website contains links to other websites. Our privacy policy applies only to
                our website, so if you click on a link to another website, you should read their privacy policy.
            </p>

            <h2 id="changesToPolicy">14. Changes to our privacy policy</h2>
            <p>
                Aurora Bricks keeps its privacy policy under regular review and places any updates on this web
                page. This privacy policy was last updated on 9 January 2019.
            </p>

            <h2 id="contactUs">15. How to contact us</h2>
            <p>
                If you have any questions about Aurora Bricks’s privacy policy, the data we hold on you, or you
                would like to exercise one of your data protection rights, please do not hesitate to contact us.
            </p>
            <p>Email us at: <a href="mailto:your.email@example.com">aurora.bricks@lego.com</a></p>
            <p>Call us: (936)-936-3664</p>
            <p>Or write to us at:</p>
            <address>
                TNRB, Brigham Young University,<br>
                Provo, UT 84602,<br>
                U.S.A.
            </address>
        </div>
        
        @*Content Table*@        
        <div class="col-lg-4">
            <nav class="position-sticky" style="top:20%;">
                <h4>Content Table</h4>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="#dataCollection">1. What data do we collect?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#howWeCollectData">2. How do we collect your data?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#howWeUseYourData">3. How will we use your data?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#howWeStoreYourData">4. How do we store your data?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#legalBasis">5. Legal Basis for Processing Personal Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="#dataProtectionRights">6. Your Data Protection Rights</a></li>
                    <li class="nav-item"><a class="nav-link" href="#childrensPrivacy">7. Children's Privacy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#marketing">8. Marketing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#cookies">9. What are cookies?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#howWeUseCookies">10. How do we use cookies?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#typesOfCookies">11. What types of cookies do we use?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#manageCookies">12. How to manage cookies</a></li>
                    <li class="nav-item"><a class="nav-link" href="#otherWebsites">13. Privacy policies of other websites</a></li>
                    <li class="nav-item"><a class="nav-link" href="#changesToPolicy">14. Changes to our privacy policy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contactUs">15. How to contact us</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>