html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(52, 58, 64, 0.9); /* Dark background */
    color: white; /* White text */
    text-align: center;
    padding: 1rem;
    z-index: 1000;
}

#cookieConsent button {
    margin-top: 10px;
    color: #333;
    background-color: #ffc107; /* Yellow button */
    border: none;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

/* Targeting all <button> elements and elements with class .btn */
button, .btn {
    background-color: #C36813; /* Button background color */
    border-color: #C36813; /* Button border color */
    color: white; /* Text color */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

/* Adjust the hover state for better user experience */
button:hover, .btn:hover {
    background-color: #A55F10; /* Slightly darker on hover */
    border-color: #A55F10;
    color: white;
}

a {
    color: black; /* Change hyperlink text color to black */
    text-decoration: none; /* Remove underline from hyperlink text */
}

/* Optional: if you want to add underline back on hover for better user experience */
a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Responsive Adjustment */
@media (max-width: 768px) {
    .forms-container {
        flex-direction: column;
    }

    .filter-container {
        width: 100%; /* Full width on smaller screens */
    }
}

body {
    padding-top: 90px; /* Adjust this value based on the actual height of your navbar */
}

.nav-link {
    color: #C36813;
    /* Other styling properties */
}

.nav-link:hover {
    color: #D47A2E; /* Darker shade of orange for hover */
    background-color: #f5f5f5; /* Optional: some background color on hover */
    text-decoration: none; /* Optional: removes underline on hover */
}


#profile.nav-link.active {
    background-color: #C36813; /* Change the background color */
    color: #ffffff; /* Optionally change the text color for better visibility */
}

#email.nav-link.active {
    background-color: #C36813; /* Change the background color */
    color: #ffffff; /* Optionally change the text color for better visibility */
}
#change-password.nav-link.active {
    background-color: #C36813; /* Change the background color */
    color: #ffffff; /* Optionally change the text color for better visibility */
}
#external-login.nav-link.active {
    background-color: #C36813; /* Change the background color */
    color: #ffffff; /* Optionally change the text color for better visibility */
}
#two-factor.nav-link.active {
    background-color: #C36813; /* Change the background color */
    color: #ffffff; /* Optionally change the text color for better visibility */
}
#personal-data.nav-link.active {
    background-color: #C36813; /* Change the background color */
    color: #ffffff; /* Optionally change the text color for better visibility */
}

#delete.btn.btn-danger {
    margin-top:10px;
    background-color: indianred
}